*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    vertical-align: bottom;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modale{
    border-radius: 20px;
    padding: 2rem;
    position: relative;
    max-width: 80vw;
}
.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.hide{
    display:none;
}
.show{
    display:block;
}